<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
</head>
<body>
    <!-- single input form and submit button for entering todos to flask backend-->
    <form action="/todo/create" method="POST">
        <input type="text" name="description" placeholder="Enter a todo">
        <input type="submit" value="Create">
    
    <ul>
        {% for todo in data %}
            <li>{{ todo.description }}</li>
        {% endfor %}
    </ul>
</body>
</html>