*.pyc
*.pem
*.pub
*.tar.gz
*.zip
*.sql
*.db
./second_app/migrations/*
./second_app/__pycache__/*
./tmp
./build/*
.idea/*
.idea
env
venv
flask/second_app/migrations/versions/3150a51502f9_.py
flask/second_app/migrations/script.py.mako
flask/second_app/migrations/README
flask/second_app/migrations/env.py
flask/second_app/migrations/alembic.ini
